/************************************************************************************************************************

	UAD-main-style.css

	This style sheet was created for Universidad de Artes Digitales Intranet System
	December 22 2018 - by MANUEL SANTOS RAMÓN [ManuSanRam]
	
************************************************************************************************************************/
/***********************************************************************************************************************/
#uad_heading_01 /* Page heading */
{
	font-family 		: Verdana;		/* Font */
	font-size 			: xx-large;		/* Font size double extra large */
	color 				: #004d99;		/* Blue font color */
}

#uad_heading_02 /*  */
{
	font-family 		: Verdana;		/* Font */
	font-size 			: x-large;		/* Font size double extra large */
	color 				: #004d99;		/* Blue font color */
}

.uad_text /* Normal text paragraphs */
{
	font-family 		: Verdana;		/* Font */
	font-weight			: bold;		/* Bold font */
	color 				: #004d99;		/* Blue font color */
}

.uad_password_input /* Password type inputs */
{
	border 				: 2px solid black;		/*  */
	border-radius 		: 6px;		/*  */
	box-sizing 			: border-box;		/*  */
	font-size			: 36px;		/*  */
	padding 			: 6px 40px;		/*  */
	transition			: width 0.3s ease-in-out;		/*  */
	text-align			: center;
	outline				: 0 none;		/*  */
	
	width				: 400px;		/*  */
	height				: 100px;		/*  */
}

/***********************************************************************************************************************/

.row /* A group of div elements horizontally aligned */
{
	display				: flex;		/* Display div element as flexible, to adapt to different screen sizes */
}

.col /* A group of div elements vertically aligned */
{
	flex				: 1;		/*  */
}

/***********************************************************************************************************************/

.uad_button	/* Regular page button */
{
	background-color 	: #004d99;		/*  */
	border 				: 4px solid #004d99;		/*  */
	border-radius		: 6px;		/*  */
	outline				: 0 none;		/*  */
	
	font-family 		: Verdana;		/*  */
	color				: #FFFFFF;		/*  */
	display				: inline-block;		/*  */
	
	margin				: 4px 2px;		/*  */
	padding				: 20px 48px;		/*  */
	
	text-align			: center;		/*  */
	transition			: background-color 0.3s ease-in-out;		/*  */
}

.uad_button:active /* Regular button animation */
{
	font-family 		: Verdana;		/*  */
	background-color	: #FFFFFF;		/*  */
    color				: #000000;		/*  */
    border				: 4px solid #004d99;		/*  */
	outline				: 0 none;		/*  */
}

/***********************************************************************************************************************/

.uad_form_button	/* Regular page button */
{
	background-color 	: #5FB404;		/*  */
	border 				: 4px solid #5FB404;		/*  */
	border-radius		: 6px;		/*  */
	outline				: 0 none;		/*  */
	
	font-family 		: Verdana;		/*  */
	color				: #FFFFFF;		/*  */
	display				: inline-block;		/*  */
	font-size			: 36px;		/*  */
	
	margin				: 4px 2px;		/*  */
	padding				: 16px 44px;		/*  */
	
	text-align			: center;		/*  */
	transition			: background-color 0.3s ease-in-out;		/*  */
}

.uad_form_button:active /* Regular button animation */
{
	font-family 		: Verdana;		/*  */
	background-color	: #FFFFFF;		/*  */
    color				: #000000;		/*  */
    border				: 4px solid #5FB404;		/*  */
	outline				: 0 none;		/*  */
}

/***********************************************************************************************************************/

.uad_eyeicon_button /* Button used to toogle passwords between hidden/shown */
{
	background-image	: url('../media/image/eye.png');		/*  */
	background-color 	: #004d99;		/*  */
	background-position : 8px 6px;		/*  */
	background-repeat	: no-repeat;		/*  */
	border 				: 4px solid #004d99;		/*  */
	border-radius		: 6px;
	outline				: 0 none;		/**/
	
	color				: #FFFFFF;		/*  */
	display				: inline-block;		/*  */
	font-size			: 36px;		/*  */
	
	padding				: 0px 24px;		/*  */
	
	text-align			: center;		/*  */
	transition			: background-color 0.3s ease-in-out;		/*  */
}

.uad_eyeicon_button:active /* Regular button animation */
{
	background-color	: #FFFFFF;		/*  */
    color				: #000000;		/*  */
    border				: 4px solid #004d99;		/*  */
	outline				: 0 none;		/*  */
}

/***********************************************************************************************************************/

.uad_num_button /* Number button to insert a number in an input form */
{
	background-color 	: #004d99;		/*  */
	border 				: 4px solid #004d99;		/*  */
	border-radius		: 5%;		/*  */
	outline				: 0 none;		/*  */
	
	font-family 		: Verdana;		/*  */
	color				: #FFFFFF;		/*  */
	display				: inline-block;		/*  */
	font-size			: 56px;		/*  */
	margin				: 8px 18px;		/*  */
	
	padding				: 16px 32px;		/*  */
	transition			: background-color 0.3s ease-in-out;		/*  */
}

.uad_num_button:active /* Animation when a number button is pressed */
{
	font-family 		: Verdana;		/*  */
	background-color	: #FFFFFF;		/*  */
    color				: #000000; 		/*  */
    border				: 4px solid #004d99;		/*  */
	outline				: 0 none;		/*  */
}

/***********************************************************************************************************************/

.uad_clear_button /* Button to clear an input form */
{
	background-color 	: #DF7401;		/*  */
	border 				: 4px solid #DF7401;		/*  */
	border-radius		: 5%;		/*  */
	
	font-family 		: Verdana;		/*  */
	color				: #FFFFFF;		/*  */
	display				: inline-block;		/*  */
	font-size			: 56px;		/*  */
	margin				: 8px 18px;		/*  */
	
	padding				: 16px 32px;		/*  */
	transition			: background-color 0.3s ease-in-out;		/*  */
	outline				: 0 none;		/*  */
}

.uad_clear_button:active /* Animation when clear button is pressed */
{
	font-family 		: Verdana;		/*  */
	background-color	: #FFFFFF;		/*  */
    color				: #000000; 		/*  */
    border				: 4px solid #DF7401;		/*  */
	outline				: 0 none;		/*  */
}

/***********************************************************************************************************************/

.uad_del_button /* Button to erase a character from an input */
{
	background-color 	: #4da6ff;		/*  */
	border 				: 4px solid #4da6ff;		/*  */
	border-radius		: 5%;		/*  */
	
	font-family 		: Verdana;		/*  */
	color				: #FFFFFF;		/*  */
	display				: inline-block;		/*  */
	font-size			: 56px;		/*  */
	margin				: 8px 18px;		/*  */
	
	padding				: 16px 32px;		/*  */
	transition			: background-color 0.3s ease-in-out;		/*  */
	outline				: 0 none;		/*  */
}

.uad_del_button:active /* Animation for when the delete button is pressed */
{
	font-family 		: Verdana;		/*  */
	background-color	: #FFFFFF;		/*  */
    color				: #000000; 		/*  */
    border				: 4px solid #4da6ff;		/*  */
	outline				: 0 none;		/*  */
}

/***********************************************************************************************************************/

.uad_footer /* Page footer that appears on the bottom of the page */
{
	position			: fixed;		/* Footer remains on fixed position on screen */
	right				: 0;		/*  */
	bottom				: 0;		/*  */
	left				: 0;		/*  */
	
	padding				: 8px;		/*  */
	
	background-color	: #004d99;		/*  */
	
	font-family 		: Verdana;		/*  */
	color				: #FFFFFF;		/*  */
	text-align			: center;		/*  */
}

.uad_long_button /* Buttons used to show options to the user */
{
	background-color 	: #004d99;
	border 				: 4px solid #004d99;
	border-radius		: 4px;		/*  */
	
	font-family 		: Verdana;		/*  */
	color				: #FFFFFF;		/*  */
	display				: inline-block;		/*  */
	font-size			: 48px;		/*  */
	margin				: 8px 18px;		/*  */
	
	padding				: 16px 32px;		/*  */
	transition			: background-color 0.2s ease-in-out;		/*  */
	outline				: 0 none;		/*  */
}

.uad_long_button:active /* Buttons used to show options to the user */
{
	background-color 	: #FFFFFF;		/*  */
	border 				: 4px solid #000000;		/*  */
	border-radius		: 4px;		/*  */
	
	font-family 		: Verdana;		/*  */
	color				: #000000;		/*  */
	display				: inline-block;		/*  */
	font-size			: 48px;		/*  */
	margin				: 8px 18px;		/*  */
	
	padding				: 16px 32px;
	outline				: 0 none;		/*  */
}